@import "tailwindcss";

@utility scrollbar-oculta {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --breakpoint-*: initial;
  --breakpoint-sm: 25rem;
  --breakpoint-md: 40rem;
  --breakpoint-lp: 64rem;
  --breakpoint-lg: 80rem;
}
